body{
    margin:0;
    padding:0;
    font-family:karla;
}

.header ul li{
    list-style-type: none;
}
ul{
    display:flex;;
    align-content: center;
    justify-content: center;
}
.header ul li a{
    text-decoration:none;
    text-transform: uppercase;
    font-weight:bold;
    color: #fff;
    font-size: 1.25rem;
    padding: 1.5rem;
}
ul li a:hover{
    border-bottom: 2px solid #fff;
}
.header{
    padding:20px;
    height: 100vh;
    background: url('../Pictures/Coronavirus-1.jpg')
}

.header h1{
    position: relative;
    top:50%;
    text-align:center;
    color:#fff;
    font-size: 300%;
}
.header2{
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c5ee 100%);
    padding: 40px;
    
}
.header2 p{
    display: flex;
    padding: 0 30%;

}
.header2 h1{
    text-align: center;
    color: #fff;
}
.flex2{
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    padding:40px;
}
.flex2 h1{
text-align: center;
}
.flex2 p{
    display: flex;
    padding: 0 30%;
}
.outer{
    display: flex;
    background-image: url(../Pictures/Down-Image.jpg);
    color:#fff;
}
p{
    font-size:x-large;
}
